		<div class="large-12 small-12 columns">	
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-5">
			  <li>
				  <a href="/venmurasu">
	  				  <img class="th" src='/venmurasu.jpg'>
				  </a>
				  <div class="caption">
					<h3>வெண்முரசு</h3>
					<a href="/venmurasu" class="button success round">படிக்க</a>
				  </div>
			  </li>
			  <li>
				  <a title="அறம்" href="#">
				  <img class="th" alt="அறம்" src='/aram.jpg'>
				  </a>
				  <div>
					<h3>அறம்</h3>
					<a href="#" class="button success round">படிக்க</a>
				  </div>
			  </li>
			  <!--li>
			  <a href="#">
				  <img class="th" src='/gandhi.jpg'>
				  </a>
				  <div>
					<h3>காந்தி</h3>
					<a href="#" class="button success round">படிக்க</a>
				  </div>
			  </li-->
				<li>
				  <a title="இரவு" href="#">
				  <img class="th" alt="இரவு" src='/iravu.png'>
				  </a>
				  <div>
					<h3>இரவு</h3>
					<a href="#" class="button success round">படிக்க</a>
				  </div> 
			  </li>
			</ul>	
		</div>
					<!--div class="slider covers">
						<div><div class="image"><img src="/mutharkanal-cover.jpg"/></div></div>
						<div><div class="image"><img src="/mazhaippadal-cover.jpg"/></div></div>
						<div><div class="image"><img src="/vannakkadal-cover.jpg"/></div></div>
					</div-->					